<div class="card TipoRedondo Degradado text-white mg-auto">
    <div class="card-body">
        <h3 class="pt-4 pb-4" style="color: rgb(189, 189, 189);">Caja inicial y final</h3>
        <h4 style="color: rgb(189, 189, 189);" class="pb-2">Monto inicial</h4>
        <div class="form-row pb-4">
            <div class="col-md-6">
                <h4 for=""><img src="/img/mexico.png" width="30px" height="30px"> $ <%- CajaEnPesos %>
                    MXN
                </h4>
            </div>
            <div class="col-md-6">
                <h4 for=""><img src="/img/estadosunidos.png" width="30px" height="30px"> $
                    <%- CajaEnDolares %> USD</h4>
            </div>
        </div>
        <h4 style="color: rgb(189, 189, 189);" class="pb-2">Monto final</h4>
        <div class="form-row">
            <div class="col-md-6">
                <h4 for=""><img src="/img/mexico.png" width="30px" height="30px"> $ <%- ActualPesos  %> MXN
                </h4>
            </div>
            <div class="col-md-6">
                <h4 for=""><img src="/img/estadosunidos.png" width="30px" height="30px"> $
                    <%- ActualDolares  %> USD</h4>
            </div>
        </div>
    </div>
</div>